.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(244, 244, 247);
    background-image: url('../../assets/imgs/bg.jpeg');
    background-size: cover;

    .login-box {
        width: 400px;
        height: 300px;
        border-radius: 10px;
        background: rgba(216, 216, 216, .55);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}